html {
    display: block;
}

body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

body {
    font-family: "Lato", "proxia-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

.wy-body-for-nav {
    background: #fcfcfc;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a:visited {
    color: #9B59B6;
}

a {
    color: #2980B9;
    text-decoration: none;
    cursor: pointer;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.wy-grid-for-nav {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wy-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    color: #9b9b9b;
    background: #343131;
    z-index: 200;
}

nav {
    display: block;
}

.wy-side-scroll {
    width: 320px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%;
}